// COLORS

// service
$clr-01: #604043;
$clr-02: #3da9c9;
$clr-03: #ae6f4e;
$clr-04: #d72132;
$clr-05: #999999;
$clr-06: #adcce9;
$clr-07: #808080;
$clr-08: #1a1a1a;
$clr-09: #333333;
$clr-10: #478ac9;
